.inputfield {
    display: flex;
    width: 10em;
    border-radius: .5em;
    border: 2px solid #333;
    padding: .5rem;

}

.inputfield:focus{
    border-radius: 7px;
}

.dropdown{
    display: flex;
    width: 13em;
    border-radius: .3em;
    border: 2px solid #333;
}

