
.app {
  height: 500px;
  min-width:1000px;
  display: flex;
  flex-direction: column;
  
  background-color: teal;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.5);
}
.app #box {
  background-color: white;
   border-radius: 7px;
   box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.1);
   margin-top: 10px;
   min-width:500px;
}
.app #box1{
   display: flex;
   box-sizing: inherit;
   align-items: center;
   justify-content: center;
   
}
.app #box2{
  display: block;
  align-content: center;
  justify-content: center;
  margin:0 auto;
  
}

.app #smallbox{
   
   align-items: center;
   justify-content: center;
   background-color: white;
   border-radius: 7px;
   box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.1);
   margin-top: 10px;
   min-width:100px;
}
.buttons{
  align-items: center;
  justify-content: center;
  margin: 20px;
 
}

.button {
  
  background-color:teal;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.5);
}

.button:hover{
  color: white;
}

.image{
  width:120px;
  height: 120px;

}

.boxdropdown{
  align-items: center;
  justify-content: center;
  display: flex;
  width: 7em;
  border-radius: .3em;
  border: 2px solid #333;
}

.outerdiv{
  border: 2px solid #333;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 2px;
  display: flex;
}

.innerdiv{
  width: 40px;
  border: 2px solid #333;
  padding: 5px;
  margin: 10px;
}

.fontbox{
  border: 2px solid #333;
  padding: 5px;
  margin: 2px;
}




